@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=M+PLUS+Rounded+1c&display=swap');

@font-face {
    font-family: Sequel-45;
    src: url('./assets/fonts/Sequel100Black-45.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: Sequel-45;
    color: white;
}

#root {
    overflow-x: hidden;
}

.home_page {
    height: 1000vh;

    background-color: #292B35;
    .home_page-hero {
        position: relative;

        .home_page-hero-video {
            video { 
                width: 100vw;
                height: 100vh;
                object-fit: cover;
            }
        }

        .home_page-hero-header {
            position: absolute;
            top: 0;
            background-image: linear-gradient(#292B35,#3c3e46, #292B35);
            width: 100vw;
            height: 4vh;
            display: flex;
            justify-content: center;
            align-items: center;    
            font-size: 15px;
            color: white;        

            .phone_number {
                position: absolute;
                right: 2vw;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        .home_page-hero-navbar {
            position: absolute;
            top: 4vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2vw;
            background-image: linear-gradient(to bottom, black, rgba(0,0,0,0));
            padding-block: 1vh;
            font-size: 15px;

            p {
                position: relative;
            }
        }
    }

    .home_page-offer {
        .home_page-offer-navbar {
            background-image: linear-gradient(to bottom, black, #292B35);
            margin-top: -.4vh;
            position: relative;
            height: 12vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .home_page-offer-navbar-box {
                display: flex;
                margin-left: 6vw;
                margin-top: 4vh;
                gap: 70px;
            
                p {
                    font-family: 'Jura';
                    font-size: 30px;
                    cursor: pointer;
                    box-sizing: border-box;
                    padding: 0vh 1vw;
                    color: rgba(255,255,255,0.6);
                    transition: color .3s;
                    letter-spacing: 2px;
                }

                p:hover {
                    color: rgba(255,255,255,1)
                }
            }
        }

        .home_page-offer-navbar::after {
            content: '';
            background-image: linear-gradient(to top, rgba(0,0,0,0), #292B35);
            width: 100%;
            height: 55vh;
            position: absolute;
            top: 100%;
            left: 0%;
            z-index: 100;
        }

        .home_page-offer-slide {
            height: 87vh;
            position: relative;

            img {
                width: 100%;
            }

            .car-type {
                position: absolute;
                top: 0;
                left: 5vw;
                z-index: 150;
                font-size: 70px;
                font-family: 'Roboto Flex';
                color: #FF9100;
                text-shadow: black 5px 1px 15px; 
            
                .type {
                    font-weight: bold;
                    color: white;
                }
            }

            .show-details {
                position: absolute;
                top: 22vh;
                left: 5vw;
                z-index: 150;
                height: 7vh;
                width: 13vw;
                background-color: transparent;
                border: solid rgba(255,255,255,0.6) 2px;
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 17px;
                font-family: 'Karla';
                color: rgba(255,255,255,0.6);
                gap: 35px;
                cursor: pointer;
                transition: all .3s;

                img {
                    width: 20px;
                }
            }

            .show-details:hover {
                border: solid rgba(255,255,255,1) 2px;
                color: rgba(255,255,255,1);
            }

         
        } 
    }

    
}

@media only screen and (max-width: 1472px) {
    
}