@font-face {
    font-family: Sequel-45;
    src: url('./assets/fonts/Sequel100Black-45.ttf');
}

@keyframes easeTransition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: Sequel-45;
    color: white;
}

#root {
    overflow-x: hidden;
}

.home_page {
    height: 1000vh;

    background-color: #292B35;
    .home_page-hero {
        position: relative;

        .home_page-hero-video {
            video {
                width: 100vw;
                height: 100vh;
                object-fit: cover;
            }
        }

        .home_page-hero-header {
            position: absolute;
            top: 0;
            background-image: linear-gradient(#292B35,#3c3e46, #292B35);
            width: 100vw;
            height: 4vh;
            display: flex;
            justify-content: center;
            align-items: center;    
            font-size: 15px;
            color: white;        

            .phone_number {
                position: absolute;
                right: 2vw;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        .home_page-hero-navbar {
            position: absolute;
            top: 4vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2vw;
            background-image: linear-gradient(to bottom, black, rgba(0,0,0,0));
            padding-block: 1vh;
            font-size: 15px;
        }
    }

    .home_page-about {
        // background-color: red;
        height: 80vh;
    }

    .home_page-offer-light {
        position: relative;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), 
        linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0)), 
        url('./assets/images/offer-light-picture.png');
        height: 90vh;
    }

    .home_page-offer-medium {
        position: relative;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), 
        linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0)), 
        url('./assets/images/offer-medium-picture.jpg');       
        height: 90vh;
    }

    .home_page-offer-heavy {
        position: relative;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), 
        linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0)), 
        url('./assets/images/offer-heavy-picture.png');        
        height: 90vh;
    }

    .home_page-offer-special {
        position: relative;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), 
        linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0)), 
        url('./assets/images/offer-special-picture.png');
        height: 90vh;
    }

    .home_page-offer-image-desc {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        bottom: 3vh;
        width: 100%;
        padding: 2vh 2vw;
        box-sizing: border-box;

        .arrow-box {
            display: flex;
            gap: 1.5vw;
        }

        .type_car-box {
            text-align: right;
            .type {
                font-size: 60px;
                margin-bottom: -20px;
                color: #B03702;
            }
            font-size: 35px;
        }
    }
}